
body[data-theme="light"]{
    --bg-color: #fafafa;
    --ele-bg-color: #ffffff;
    --txt-color: #111517;
    --search-bar: #858585;
}


body[data-theme="dark"]{
    --bg-color: hsl(207, 26%, 17%);
    --ele-bg-color: rgb(43, 57, 69);
    --txt-color: #ffffff;
    --search-bar: #ffffff;
}

body{
    --shadow-color: #11151731;

}