body[data-theme="light"] {
    --bg-color: #fafafa;
    --ele-bg-color: #ffffff;
    --txt-color: #111517;
    --search-bar: #858585;
}

body[data-theme="dark"] {
    --bg-color: hsl(207, 26%, 17%);
    --ele-bg-color: rgb(43, 57, 69);
    --txt-color: #ffffff;
    --search-bar: #ffffff;
}

body {
    --shadow-color: #11151731;
    --max-width: 1200px;
    --width: 85%;
}

@mixin shadow {
    box-shadow: 0px 0px 9.3px rgba(0, 0, 0, 0.019), 0px 0px 9.8px rgba(0, 0, 0, 0.02), 0px 0px 10px rgba(0, 0, 0, 0.021),
        0px 0px 10px rgba(0, 0, 0, 0.04);

    box-shadow: 0px 0px 10px var(--shadow-color);
}

@mixin maxWidth {
    max-width: 1200px;
}
